# Environments
venv/
python/
.env
keys.env

# Security
*.key
encryption.key

# Python
__pycache__/
*.py[cod]

# Database
*.db
stellar_local.db
stellar_local.db-shm
stellar_local.db-wal
issue_resolver.log
# App specific
credentials/
sandbox_runs/
uploads/
outputs/
.DS_Store
temp_venv/
deployments/

